<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Views: <%=session.views%> </p>
    <p>Expires in: <%=session.cookie.maxAge / 1000 %>s</p>
  </body>
</html>
